/**
 * Vendor
 */
@import 'bourbon';
@import 'neat';
@import 'normalize.scss/normalize';

/**
 * General Settings and Utilities
 */
@import 'core/mixins';
@import 'variables/colors';
@import 'variables/layout';
@import 'variables/typography';

/**
 * Base global styles.
 */
@import 'elements/base';

/**
 * Elements
 */
@import 'elements/icons';
@import 'elements/lists';
@import 'elements/typography';

/**
 * Components
 */
@import 'components/footer';
@import 'components/header';
@import 'components/header-nav';
@import 'components/hero';
@import 'components/social-links';

/**
 * Layouts
 */
@import 'layouts/main';

/**
 * Utility
 */
@import 'core/utility';
@import 'core/print';
