/**
 * This combination of styles pushes the footer to the botto of the page even
 * when the content is short.
 */
.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;

  .main-content {
    flex-grow: 1;
  }
}

.page-contain {
  margin: 0 auto;
  max-width: $max-content-width;
}
.section-inner {
  @include grid-container;
}

.section-body-full,
.section-aside,
.section-body,
.project-card {
  @include grid-column(12);
}

@media #{$bp-tablet-up} {
  .section-aside {
    @include grid-column(6);
  }

  .section-body {
    @include grid-column(6);
  }

  .project-card,
  .impact-stat {
    @include grid-column(4);

    &.featured {
      @include grid-container;
      @include grid-column(12);

      .project-body {
        @include grid-column(8);
      }

      .project-tmb {
        @include grid-column(4);
      }
    }
  }
}
