.contact-form {
  border-bottom: 2px solid rgba($color-teal, .25);
  padding-bottom: 32px;

  textarea {
    min-height: 200px;
  }
}

.sponsor-garden {
  li {
    margin-bottom: 12px;

    @media #{$bp-mobile-up} {
      margin-right: 24px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .unstyled-list {
    @media #{$bp-mobile-up} {
      display: flex;
      justify-content: space-between;
    }
  }
}
