.main-footer {
  background: $color-blue-dark;
  color: $color-white;
  margin-top: 50px;
  padding: 32px 16px;

  a {
    color: $color-white;
    text-decoration: none;
  }

  .social-list {
    align-items: center;
    display: flex;
  }
}
