$nav-width: 240px;

.header-nav {
  @include position(fixed, 0 (-$nav-width) 0 null);
  background-color: $color-grey-light;

  padding: 30px;
  width: $nav-width;

  @media #{$bp-tablet-up} {
    background: none;
    padding: 0;
    position: static;
    width: auto;

    ul {
      justify-content: flex-end;
      display: flex;
      margin-right: 20px;
    }

    li {
      margin-left: 2em;
    }

    a {
      color: $color-white;
      text-decoration: none;
    }
  }
}

body {
  transition: transform 300ms ease-in-out;

  &.nav-active {
    transform: translateX(-$nav-width);

    @media #{$bp-tablet-up} {
      transform: none;
    }
  }
}
