.hero {
  background: url('/images/hacknight-women.jpg') center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  position: relative;

  &::after {
    @include position(absolute, 0 0 0 0);
    background: $color-black;
    content: '';
    display: block;
    opacity: .15;
    z-index: 1;
  }
}

.hero-inner {
  color: $color-white;
  margin-top: 60px;
  max-width: $max-content-width;
  position: relative;
  z-index: 2;

  h1,
  p {
    max-width: 840px;
  }

  h1 {
    font-size: 4rem;
    margin-bottom: 0;

    @media #{$bp-tablet-up} {
      font-size: 5rem;
    }

    @media #{$bp-desktop-up} {
      font-size: 6rem;
    }
  }
}

