footer.main-footer
  .page-contain
    block footer
      nav.footer-nav
        if socialLinks
          .social-links
            h2.social-header Follow us&mdash;
            +social-list(socialLinks)
