header.main-header
  .main-header-content
    a(href='/').branding
      img(src='/images/logo.svg').logo-image
      span.sr-only Hack for L.A.
    button(type='button').nav-toggle.js-toggle-nav
      svg.icon.icon-hamburger
        use(xlink:href='#icon-hamburger')
    nav.header-nav.type-h4
      ul.unstyled-list
        li
          a(href='#hack-nights').js-smooth-scroll Hack Nights
        li
          a(href='#projects').js-smooth-scroll Projects
        li
          a(href='#news').js-smooth-scroll In the News
        li
          a(href='#about').js-smooth-scroll About
        li
          a(href='#sponsors').js-smooth-scroll Sponsors
