header.main-header
  .main-header-content
    .branding Hack for LA
    nav.header-nav
      ul.inline-list
        li
          a(href='#hack-nights').js-smooth-scroll Hack Nights
        li
          a(href='#projects').js-smooth-scroll Projects
        li
          a(href='#about').js-smooth-scroll About
        li
          a(href='#press').js-smooth-scroll Press
        li
          a(href='#contact').js-smooth-scroll Contact Us
    if socialLinks
      .social-links
        +social-list(socialLinks)
